@mixin warning {
    border: 2px red solid;
    border-radius: 10px;
}

@mixin warningMessage {
    color: red;
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}